body {
    background:url(bg.jpg);
    background-repeat:repeat
}

.navbar-inverse {
    font-family:'Montserrat',sans-serif;
    font-size:2vw
}

#Hheadding {
    font-family:'Montserrat',sans-serif;
    text-transform:uppercase;
    color:#fff;
    text-shadow:4px 2px 0 #000;
    text-align:center
}

#Hheadding h1 {
    font-size:3.5vw
}

#Hheadding h2 {
    font-size:3vw
}

#footer {
    font-size:1.2vw;
    bottom:0;
    position:fixed;
    width:100%;
    color:#fff
}