body {
	background: url(bg.jpg);
	background-repeat: repeat;
	}
.navbar-custom {
	background-color: #0C1D2F;
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	}
.navbar-custom .navbar-nav > li > a {
    color:#40566D;
}
.navbar-custom .navbar-nav > .highlight {
    color: #030F1C;
    background-color:transparent;
}
#Hheadding {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: white;
	text-shadow: 4px 2px 0px black;
	text-align: center;
	}
#Hheadding h1{
	font-size: 3.5vw;
	}
#Hheadding h2 {
	font-size: 3vw;	
	}
#about {
	background-color: white;
	}