body {
	background: url(bg.jpg);
	background-repeat: repeat;
	}
.navbar-custom {
	background-color: #0C1D2F;
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	}
#Hheadding {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: white;
	text-shadow: 4px 2px 0px black;
	text-align: center;
	}
#Hheadding h1{
	font-size: 3.5vw;
	}
#Hheadding h2 {
	font-size: 3vw;	
	}
#about {
	background-color: #40566D;
	color: white;
	}
#projects {
	background: url(bg.jpg);
	background-repeat: repeat;
	color: white;
	margin-bottom: 0px;
	}
#footer {
	padding-top: 1%;
	font-size: 1vw;
	color: black;
	padding: 25px 0;
    background-color: #fff;
	margin-top: 0px;
	}