body {
	background: url(bg.jpg);
	background-repeat: repeat;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align:center;
	}
h1 {
	font-size: 3.0vw;
	color: white;
	text-align: center;
	text-shadow: 4px 2px 0px black;
	margin-top: 20%;
	}