 
	body {
		font-family: 'Oswald';
	}
	
	.bg {
		background: url('bg1.jpg');
		position: fixed;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
  
	.blur {
		background-color:rgba(0,0,0,0.5);
		padding-left:7px;
		padding-right:7px;
		padding-top:7px;
		padding-bottom:7px
	}
	

	.blur:hover {
		background-color:rgba(0,0,0,0.3);
		padding-left:7px;
		padding-right:7px;
		padding-top:7px;
		padding-bottom:7px
	}
	


	#bluricons {
		color: white;	
	}
	
	#shadow  {
	text-shadow: 2px 2px 2px #aaa;
	}
	
	.sru {
	color:white;
	}
	
	.sru:hover {
	color:#CDD3D8;
	}
	
	.sruactive {
	background-color:rgba(0,0,0,0.3);
	padding-left:7px;
	padding-right:7px;
	padding-top:7px;
	padding-bottom:7px
	}
	