/* Header */
* {
	text-decoration: none;
}
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 2;
}

.container .large-header {
	background-image: url('/resources/img/bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

a {
	color: #f9f1e9;
}

.container .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

@media only screen and (max-width : 768px) {
	.container .main-title {
		font-size: 3em;
	}
